section {
  height: 100vh;
}

#section-usage {
  background-color: #222;
}

.navbar-fixed {
  height: 0px;
}

#nav-img {
  width: 100%;
}

.icon-container {
  font-size: 1.5em;
}

.feature a{
  color: #a5a5a5;
}

.feature a:hover{
  color: #666;
}

nav {
  background-color: rgba(255, 255, 255, 0.9);
}
.col, .row{
  height: 100%;
}

.feature-row {
  height: 50%;
}

* {
  font-weight: 300;
}

/**{border: solid black 1px;}*/

.responsive-img {
  width: 30%;
  display: block;
  margin: 0 auto;
}

h2, h3, .brand-logo{
  font-weight: 200;
  padding: 10px;
}

.flow-text {
  font-size: 1.3em;
}

#header-code {
  font-size: 1.2em;
  background-color: #eee;
  padding: 6px;
}

#star-button {
  float: left;
}

#follow-button {
  float: right;
}

#header-img {
  width: 100%;
}